head {
  background-color: #fdfaf2;
}

body {
 margin: 0px;
 background-color: #fdfaf2;
 font-family: "Fira Sans", sans-serif;
 font-size: 20px;
 color: black;
}

p {
  text-align: left;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: black;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 75px;
  padding-right: 75px;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #b22b39;
    padding-top: 50px;
}

.header {
    display: block;
    margin: auto;
    width:65%; 
    height:auto;
}

.container {
  display: grid;
  grid-template-areas:
    "miniHeader miniHeader"
    "content1 content2"
    "content3 content4"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 5px;
}
.container > div {
  background-color: #fdfaf2;
  padding: 10px;
}
.container > div.miniHeader {
  grid-area: miniHeader;
  text-align: center;
}
.container > div.content1 {
  grid-area: content1;
}
.container > div.content2 {
  grid-area: content2;
}
.container > div.content3 {
  grid-area: content3;
}
.container > div.content4 {
  grid-area: content4;
}

.footer {
  /* grid-area: footer; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

/* links */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #e43c4e;
  text-decoration: none;
}

ol {
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 150px;
  padding-right: 85px;
}

/* .footer2 {
  
} */

#my-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Slideshow container */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


